.appIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.xs {
  width: 16px;
  height: 16px;
}

.tiny {
  width: 20px;
  height: 20px;
}

.small {
  width: 24px;
  height: 24px;
}

.medium {
  width: 32px;
  height: 32px;
}

.large {
  width: 48px;
  height: 48px;
}

.rounded {
  border-radius: 8px;
}